#Lyrics {
    flex: auto;
    font-size: larger;
    color: blue;    
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img {
    width: 300px;
}